# MVS connection (mbt)
MBT_MVS_HOST=mvs
MBT_MVS_PORT=1080
MBT_MVS_USER=IBMUSER
MBT_MVS_PASS=sys1
MBT_MVS_HLQ=IBMUSER
MBT_MVS_DEPS_HLQ=IBMUSER.DEPS

# JES settings
MBT_JES_JOBCLASS=A
MBT_JES_MSGCLASS=H
